/* GENERAL RULES */
@font-face {
	font-family: GameTime;
	src: url(../assets/Cabin-Medium.ttf);
}
body * {
	color: white;
	font-family: GameTime;
	font-size: 19px;
	box-sizing: border-box;
	margin: 0 auto;
	text-align: center;
	display: block;
}
/* HEADER AND NAV AREA */
header {
	background: #720505;
	color: rgb(243, 243, 243);
	padding: 1rem;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
	width: 100%;
	height: auto;
}
nav button {
	display: inline;
	background-color: #ac5cbf;
	border: 2px solid #ac5cbf;
	border-radius: 5px;
	margin: 6px 3px;
	color: white;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	transition-duration: 0.3s;
	box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.4);
}
nav button:hover {
	background-color: white;
	color: black;
}
button:focus {
	outline: none;
}
.green {
	background-color: #4caf50;
	border: 2px solid #4caf50;
}
.red {
	background-color: rgb(221, 34, 1);
	border-color: rgb(221, 34, 1);
}
#start-button {
	width: 300px;
}
/* GENERAL MAIN RULES */
#text-box,
#result {
	background-color: rgba(44.7%, 2%, 2%, 0.7);
	margin: 25px auto;
	width: 90%;
	max-width: 650px;
	border: 3px solid #023d6d;
	border-radius: 10px;
}
.tBoxElement {
	margin: 30px auto;
}
/* CURRENT SENTENCE AND INPUT AREA */
pre {
	display: inline-block;
}
#first-part {
	color: rgb(0, 88, 0);
}
#text-box {
	margin: 30px auto;
}
#text-box input {
	border: 2px solid rgb(221, 34, 1);
	border-radius: 5px;
	width: 400px;
	max-width: 90%;
	margin-top: 0;
}
#text-box input:focus {
	outline: none;
}
/* RESULT AND TIME BAR AREA */
#time-bar {
	width: 400px;
	max-width: 90%;
}
.progress-container {
	background-color: teal;
	width: 400px;
	max-width: 90%;
	margin: 30px auto;
}
.progress-container div {
	background-color: hsl(108, 94%, 28%);
	color: white;
	font-size: 16px;
	font-weight: 500;
	height: 20px;
	width: 100%;
	margin: 0;
}

/* LEADERBOARD MODAL */
table {
	border: solid white 2px;
}
tr {
	display: table-row;
}
th, td {
	border: solid white 2px;
	display: table-cell;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  }